---
const year = new Date().getFullYear();
---

<!--页脚-->
<footer class="app-footer">
  <!--右下角-->
  <div class="float-end d-none d-sm-inline">LANTU Innovation Studio</div>
  <!--右下角1-->
  <!--版权信息-->
  <strong>
    Copyright &copy; 2023-{year}&nbsp;
    <a href="https://www.bupt.edu.cn/info/1079/84399.htm" class="text-decoration-none">LANTU.io</a>.
  </strong>
  All rights reserved.
  <!--版权信息1-->
</footer>
<!--页脚1-->
